body {
    margin: 1em 2em;
}
h1 {
  color: red;
}

footer {
  margin-top: 2em;
  padding: 1em 0;
  border-top: 1px solid gray;
}

th, td { padding: 0.3em 1em; }

th {
  font-style: italic;
  font-weight: normal;
  text-align: right;
}