<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>GO Web-Experimente mit GIN</title>
  <style type="text/css" media="screen">
    <!-- 
        @import url("assets/css/index.css");
    -->
  </style>
</head>

<body>

  <header>
    <h1>GO GIN Small Example 2</h1>
  </header>

  <h2>Willkommen {{ .user }}</h2>
  <p>
    Aktuelles Wetter in <b>Dresden</b> vom <b>{{ .timestamp }}</b>:<br/>
    <table>
        <tr>
            <th>Temparatur:</th>
            <td>{{ .temp }}°C</td>
        </tr>
        <tr>
            <th>Luftfeuchte:</th>
            <td>{{ .humidity }}%</td>
        </tr>
        <tr>
            <th>Wind:</th>
            <td>
                {{ .wind_speed }} m/s aus {{ .wind_deg }}°
            </td>
        </tr>
    </table>
  </p>
  <hr />
  <img src="/assets/imgs/335px-Dresden-Frauenkirche-night.jpg"><br/>
  Von <a href="//commons.wikimedia.org/wiki/User:Kolossos" title="User:Kolossos">User:Kolossos</a> - <span class="int-own-work" lang="de" xml:lang="de">Eigenes Werk</span>, <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=3507349">Link</a>

  <footer>
    Copyright © 2017 OSP Bernd Ledig
  </footer>

</body>

</html>